<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_store"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_store"
        android:supportsRtl="true"
        android:theme="@style/Theme.MarketplaceConnect">

        <activity
            android:name=".ui.ListingDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AddListingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
